{% extends 'base.html' %}

{% block header %}
  <h1>
    {% block title %}
      {% if title is defined %}
        {{ title }}
      {% else %}
        Reservations
      {% endif %}
    {% endblock %}
  </h1>
  <a href="{{ url_for('reservation.create') }}">New</a>
  <a href="{{ url_for('reservation.search') }}">Search</a>
{% endblock %}

{% block content %}
  {% for reservation in reservations %}
    <nav>
      <ul>
        <li>
          {{ reservation.username }},
          {{ reservation.start_date }},
          {{ reservation.end_date }},
          {{ reservation.number_rooms }}
        </li>
        <li>
          <a href="{{ url_for('reservation.update', id=reservation.id) }}">Edit</a>
        </li>
        {% if not loop.last %}
          <hr>
        {% endif %}
      </ul>
    </nav>
  {% endfor %}
{% endblock %}
